/**
* @author Varrcan
* @e-mail mfp@varrcan.me
* @copyright 2016
*/

.h3-mfp {
  font-style: oblique;
  font-size: 14px;
  text-align: left;
  float: left;
  width: 50%;
	margin-right: 10%;
}

.container-mfp {
  width: 100%;
  max-width: 1260px;
  min-width: 780px;
  overflow: hidden;
  float: left;
}

.content-mfp {
	width: 65%;
	float: left;
}

.sidebar1-mfp {
	width: 25%;
	float: right;
  margin-right: 5%;
}

.clearfloat {
	clear:both;
}

.mfp-button{
  font:bold 13px Tahoma, Geneva, sans-serif;
  font-style:normal;
  color:#ffffff;
  background:#1568db;
  border:0px solid #ffffff;
  text-shadow:0px 1px 5px #222222;
  box-shadow:5px 2px 6px #000000;
  -moz-box-shadow:5px 2px 6px #000000;
  -webkit-box-shadow:5px 2px 6px #000000;
  border-radius:45px 10px 45px 10px;
  -moz-border-radius:45px 10px 45px 10px;
  -webkit-border-radius:45px 10px 45px 10px;
  width:66px;
  padding:7px 86px;
  cursor:pointer;
  margin:7px 0 7px 0;
}

.mfp-button:active{
  cursor:pointer;
  position:relative;
  top:2px;
}

.mfp-block {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 10px 20px 10px;
}
.mfp-translit{
	min-height: 90px;
}
.mfp-box{
	min-height: 245px;
}
.mfp-textarea{
	height: 130px;
  width: 550px;
}
.alert-success-mfp {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}
.alert-danger-mfp {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
.alert-mfp {
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 15px;
	width: 62%;
}
.btn-success-mfp {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
}
.btn-danger-mfp {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn-success-mfp:hover,
.btn-success-mfp:focus {
  background-color: #419641;
  background-position: 0 -15px;
}
.btn-danger-mfp:hover,
.btn-danger-mfp:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}
.btn-mfp {
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	margin-bottom: 10px;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
  text-decoration: none;
}
a.btn-danger-mfp:active,
a.btn-danger-mfp:hover,
a.btn-success-mfp:active,
a.btn-success-mfp:hover{
  text-decoration: none;
  color: #fff !important;
}

.modal-mfp {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.modal-mfp:target {
  display: block;
  pointer-events: auto;
}

.modal-mfp > div {
  width: 300px;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  background: #f2f2f2;
  box-shadow: 0px 0px 20px 2px;
}

.close-mfp {
  background: #cc3300;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close-mfp:hover {
  background: #990000;
  color: #fff !important;
}